{% extends 'index.html' %}
{% load static %}
{% block content %}
    <h2>Фильм {{kino.title}}</h2>
    <img src="{% static kino.poster %}" alt="" width="450px">
    <h3>Год выпуска {{ kino.year }}</h3>
    <h3>Страна выпуска {{ kino.country }}</h3>
    <ul>
    {% for one in kino.artist.all %}
    <li>
        {{ one.name }}
    </li>
    {% endfor %}
    </ul>
    <h3>Подписка {{ kino.podpiska }}</h3>
    <h4>Просмотр фильма:</h4>
    {% if user.is_authenticated %}
    
      {% if user.profile.podpiska.id >= kino.podpiska.id %}
        <iframe
                width="720" height="405" 
                src="{{ kino.trailer }}"
                frameBorder="0" allow="clipboard-write; autoplay" 
                allowFullScreen>
        </iframe>
        {% else %}
        
          <a href="{% url 'kabinet' %}">
          <button>Купите подписку</button>
          </a>
        {% endif %}
    
    {% else %}
          <a href="{% url 'login' %}">
          <button>Авторизуйтесь для просмотра</button>
          </a>
    {% endif %}

    {% if user.is_authenticated %}
    <form action="{% url 'otziv' kino.id %}" method="post">
    {% csrf_token %}
    {{ kino.getFormotziv }}
        <input type="submit" value="Отправить">
    </form>
    {% endif %}
    
    {% for one in kino.getOtziv %}
     <div class="review">
    <h4>{{ one.user }}</h4>
    <p>{{ one.text }}</p>
    </div>
    {% endfor %}
{% endblock %}